# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=             # Postgres.app does not require a password by default locally
DB_NAME=chewatalk_db

# Assembled Database URL for SQLAlchemy
DATABASE_URL=postgresql://postgres@localhost:5432/chewatalk_db